body {
    padding: 10px;
}
.carousel {
    position: relative;
    width: 700px;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
}
.carousel img {
    width: 240px;
    height: 320px;
    display: block;
}
.arrow {
    position: absolute;
    top: 150px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}
.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

.prev {
    left: 7px;
}

.next {
    right: 7px;
}

.gallery {
    width: 300px;
    overflow: hidden;
}
.gallery ul {
     height: 320px;
     width: 9999px;
     margin: 0;
     padding: 0;
     list-style: none;
     transition: margin-left 250ms;
     font-size: 0;
 }
.gallery li {
    display: inline-block;
}